@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1;100;200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*MEDIA QUERYS*/
/*INDEX*/
@media screen and (max-width: 1233px) {
  .hero h2 {
    font-size: 50px; }
  .hero .hero p {
    font-size: 15px; }
  .hero .ver-mas a {
    font-size: 15px; }
  .img-familia div {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-around; }
  .img-familia img {
    width: 900px;
    height: 600px; }
  .img-familia p {
    padding-top: 5%;
    font-size: 50px;
    width: 95%; }
  .img-bolsillo {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-around; }
    .img-bolsillo .img-bolsillo div img {
      width: 900px;
      height: 600px; }
      .img-bolsillo .img-bolsillo div img .img-bolsillo div p {
        font-size: 50px;
        width: 95%; }
  .hero h2 {
    font-size: 80px; }
  .hero p {
    font-size: 40px; }
  .novedades {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 470px;
    margin-left: 8%;
    grid-column: span 1;
    grid-row: span 1; } }

@media screen and (max-width: 1233px) and (max-width: 1056px) {
  .novedades {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 470px;
    margin-right: 8%; } }

@media screen and (max-width: 1233px) and (max-width: 900px) {
  .img-familia div img {
    width: 600px;
    height: 400px; } }

@media screen and (max-width: 1233px) {
  .img-bolsillo div img {
    width: 600px;
    height: 400px; }
  .novedades {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 470px;
    margin-left: 25%; }
  .ver-mas a {
    font-size: 15px; } }

@media screen and (max-width: 1233px) and (max-width: 842px) {
  .novedades {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 470px;
    margin-left: 20%; } }

@media screen and (max-width: 1233px) and (max-width: 770px) {
  .novedades {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 470px;
    margin-left: 22%; } }

@media screen and (max-width: 1233px) and (max-width: 704px) {
  .novedades {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 470px;
    margin-left: 20%; } }

@media screen and (max-width: 1233px) and (max-width: 635px) {
  .img-familia P {
    font-size: 30px; }
  .img-familia img {
    width: 500px;
    height: 350px; }
  .img-bolsillo p {
    font-size: 30px; }
  .img-bolsillo img {
    width: 500px;
    height: 350px; }
  .novedades div {
    font-size: 15px;
    width: 303px;
    height: 400px;
    border: 2px solid black;
    text-align: center;
    text-shadow: 10px black;
    list-style: none; }
  .novedades img {
    width: 300px;
    height: 250px; } }

@media screen and (max-width: 1233px) and (max-width: 500px) {
  .hero h2 {
    font-size: 50px; }
  .hero p {
    font-size: 30px; }
  .ver-mas a {
    font-size: 12px; }
  .img-familia p {
    font-size: 20px; }
  .img-familia img {
    width: 450px;
    height: 350px; }
  .img-bolsillo p {
    font-size: 20px; }
  .img-bolsillo img {
    width: 450px;
    height: 300px; }
  .novedades {
    margin-left: 12%; }
    .novedades div {
      font-size: 15px;
      width: 300px;
      height: 400px;
      border: 2px solid black;
      text-align: center;
      text-shadow: 10px black;
      list-style: none; }
    .novedades img {
      width: 300px;
      height: 250px;
      padding-right: 3px; }
  .form-select option {
    font-size: 10px; } }

@media screen and (max-width: 1233px) and (max-width: 460px) {
  .hero {
    height: calc(100vh - 115px);
    background-image: url(../img/posible-fondo2.jpg); }
    .hero .img-familia img {
      width: 350px;
      height: 250px; }
    .hero .img-bolsillo img {
      width: 350px;
      height: 250px; }
  .redes-footer img {
    height: 30px;
    width: 30px; } }

@media screen and (max-width: 1233px) and (max-width: 418px) {
  .novedades {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 470px;
    margin-left: 8%; } }

@media screen and (max-width: 1233px) and (max-width: 401px) {
  .novedades {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 470px;
    margin-left: 2%; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*HEADER*/
/*NAV*/
.container-fluid img {
  height: 100px;
  width: 170px; }

.navbar-brand {
  font-size: 50px;
  font-family: 'Mate SC', serif; }

.navbar-nav {
  font-size: 25px;
  font-family: 'Mate SC', serif; }

/*FOOTER*/
footer {
  background-color: #E0E0E0;
  display: flex;
  justify-content: space-between; }

.copyright h3 {
  padding-left: 10px;
  font-family: 'Mate SC', serif;
  font-size: 15px;
  color: #0E0E10; }

footer .redes-footer img {
  height: 40px;
  width: 40px; }

footer div {
  display: flex;
  align-items: center; }

/*INDEX HERO*/
.hero {
  font-size: 40px;
  font-family: 'Ysabeau SC', sans-serif;
  text-align: center;
  text-shadow: 4px 4px 4px black;
  height: calc(100vh - 215px);
  background-image: url(../img/posible-fondo2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }
  .hero h2 {
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    font-size: 80px;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 4px #DEE5E5; }
  .hero .hero p {
    font-size: 100px; }

.ver-mas a {
  padding: 10px 10px 11px 7px;
  font-size: 20px;
  font-family: 'Mate SC', serif;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  text-shadow: 1px black;
  text-align: right;
  background-color: white;
  display: flex; }

.img-familia {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .img-familia div p {
    font-family: 'Mate SC', serif;
    font-size: 40px;
    text-align: center; }

.img-bolsillo {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse; }
  .img-bolsillo div img {
    margin-bottom: 4px;
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: flex-end; }
  .img-bolsillo div p {
    font-family: 'Mate SC', serif;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: flex-start; }

/*NOVEDADES*/
.cartel-novedades {
  font-family: 'Mate SC', serif;
  background-color: #0E0E10;
  color: white;
  border: solid black;
  text-align: center; }

main .novedades {
  display: grid;
  grid-template-columns: 33.3% 33.33% 33.3%;
  grid-template-rows: 33.3%; }
  main .novedades div {
    font-family: 'Mate SC', serif;
    margin: 10px;
    padding-bottom: 5px;
    width: 353px;
    height: 450px;
    border: 2px solid black;
    text-align: center;
    text-shadow: 10px black;
    list-style: none; }
    main .novedades div img {
      width: 350px;
      height: 300px; }
    main .novedades div a .boton {
      padding-top: 2px 1px 4px 1px;
      text-shadow: 5px white;
      background-color: #0E0E10;
      text-decoration: none;
      color: white; }

/*SECCION DE BUSQUEDA*/
.busqueda-fondo {
  background-image: url(../img/Fondo-busqueda.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: calc(100vh - 215px); }
  .busqueda-fondo h1 {
    display: flex;
    font-size: 80px;
    padding-left: 10px; }
  .busqueda-fondo section .parametros {
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px; }
    .busqueda-fondo section .parametros .parametros div {
      display: flex;
      justify-content: center;
      align-items: center; }

.buscar-boton {
  padding-left: 10px; }

/*CONTACTOS*/
.contact-hero .img-hero {
  background-image: url(../img/fondo-contactanos.jpg);
  height: calc(100vh - 350px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column; }
  .contact-hero .img-hero .titulo-contact {
    font-family: 'Titillium Web', sans-serif;
    color: #DEE5E5;
    display: flex;
    font-size: 60px;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .contact-hero .img-hero .titulo-contact h1 {
      font-size: 100px;
      font-family: 'Ysabeau SC', sans-serif;
      font-weight: 200;
      border: solid 2px #DEE5E5;
      padding: 10px; }
  .contact-hero .img-hero .subt-contact h2 {
    font-family: 'Ysabeau SC', sans-serif;
    text-align: center;
    color: #E0E0E0;
    font-size: 35px; }

.contact-hero .contact-datos {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E0E0E0; }
  .contact-hero .contact-datos .datos {
    font-family: 'Mate SC', serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px; }
    .contact-hero .contact-datos .datos img {
      display: inline-flex;
      width: 30px;
      height: 30px;
      opacity: 100%;
      margin-left: 10px; }

.contact-hero .contact-form {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Mate SC', serif;
  font-size: 20px;
  padding-bottom: 50px; }
  .contact-hero .contact-form .titulo-form {
    padding-top: 30px; }
  .contact-hero .contact-form .form-main {
    border: solid 3px black;
    border-radius: 5px;
    margin-top: 40px;
    padding: 40px;
    background-color: #DEE5E5;
    width: 25%;
    box-shadow: -1px 3px 38px -3px rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: -1px 3px 38px -3px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -1px 3px 38px -3px rgba(0, 0, 0, 0.49); }
    .contact-hero .contact-form .form-main .form-form .form-group {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .contact-hero .contact-form .form-main .form-form .form-group .form-group label {
        padding-top: 10px;
        padding-bottom: 4px; }
      .contact-hero .contact-form .form-main .form-form .form-group .form-group input {
        width: 100%;
        height: 30px;
        font-family: 'Mate SC', serif;
        font-size: 20px;
        box-shadow: -1px 3px 38px -11px rgba(0, 0, 0, 0.54);
        -webkit-box-shadow: -1px 3px 38px -11px rgba(0, 0, 0, 0.54);
        -moz-box-shadow: -1px 3px 38px -11px rgba(0, 0, 0, 0.54); }
      .contact-hero .contact-form .form-main .form-form .form-group .form-group textarea {
        height: 70px;
        font-family: 'Mate SC', serif;
        font-size: 20px;
        box-shadow: -1px 3px 38px -11px rgba(0, 0, 0, 0.54);
        -webkit-box-shadow: -1px 3px 38px -11px rgba(0, 0, 0, 0.54);
        -moz-box-shadow: -1px 3px 38px -11px rgba(0, 0, 0, 0.54); }
      .contact-hero .contact-form .form-main .form-form .form-group .enviar-boton button {
        width: 60px;
        height: 30px;
        font-family: 'Mate SC', serif;
        margin-top: 10px;
        font-size: 15px; }

/*NOVEDADES*/
.novedades-h1 h1 {
  display: flex;
  justify-content: center; }

.novedades-pestaña {
  margin-left: 10%;
  margin-right: 10%;
  display: grid; }
  .novedades-pestaña .novedades-cajas {
    border: solid 1px black;
    margin-bottom: 5px; }
    .novedades-pestaña .novedades-cajas img {
      padding-right: 1px;
      width: 350px;
      height: 300px; }
    .novedades-pestaña .novedades-cajas .data-list {
      padding-left: 3%;
      display: flex;
      align-items: start;
      justify-content: space-evenly;
      flex-direction: column; }
    .novedades-pestaña .novedades-cajas .img-carac .caracteristicas-prop {
      display: flex;
      justify-content: space-evenly; }
      .novedades-pestaña .novedades-cajas .img-carac .caracteristicas-prop img {
        display: flex;
        width: 30px;
        height: 20px;
        opacity: 50%; }
    .novedades-pestaña .novedades-cajas .img-carac .novedades-cajas .boton-posicion {
      display: flex;
      align-items: end;
      justify-content: center; }
      .novedades-pestaña .novedades-cajas .img-carac .novedades-cajas .boton-posicion .boton-contactar {
        border-radius: 8px;
        text-shadow: 5px white;
        background-color: #218380;
        text-decoration: none;
        color: white; }

/*NOSOTROS*/
.hero-nosotros img {
  width: 1900px;
  height: 1500; }

.nosotros-historia {
  font-family: 'Mate SC', serif;
  font-size: 25px;
  text-align: center;
  background-color: #E0E0E0;
  border: 6px solid #E0E0E0; }

.seriedad-nosotros {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  font-family: 'Mate SC', serif;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .seriedad-nosotros div img {
    width: 800px;
    height: 550px; }

.catalogo-nosotros {
  font-family: 'Mate SC', serif;
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center; }

div img {
  width: 800px;
  height: 630px; }

.lideres-nosotros {
  font-family: 'Mate SC', serif;
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*div {
        img{
            width: 800px;
            height: 630px;
            padding-bottom: 40px;
        }
    }

}*/
  /*PUBLICAR*/
  /*npm run watch-css (activar el robot) */ }
  @media screen and (max-width: 1233px) {
    .lideres-nosotros .hero h2 {
      font-size: 50px; }
    .lideres-nosotros .hero p {
      font-size: 15px; }
    .lideres-nosotros .ver-mas a {
      font-size: 15px; } }
  .lideres-nosotros .img-familia div {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-around; }
  .lideres-nosotros .img-familia img {
    width: 900px;
    height: 600px; }
  .lideres-nosotros .img-familia p {
    padding-top: 5%;
    font-size: 50px;
    width: 95%; }
  .lideres-nosotros .img-bolsillo {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-around; }
    .lideres-nosotros .img-bolsillo .img-bolsillo div img {
      width: 900px;
      height: 600px; }
      .lideres-nosotros .img-bolsillo .img-bolsillo div img .img-bolsillo div p {
        font-size: 50px;
        width: 95%; }
  .lideres-nosotros .hero h2 {
    font-size: 80px; }
  .lideres-nosotros .hero p {
    font-size: 40px; }
  .lideres-nosotros .novedades {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 470px;
    margin-left: 8%;
    grid-column: span 1;
    grid-row: span 1; }
