* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

/*HEADER*/

/*NAV*/


.container-fluid img {
        height: 100px;
        width: 200px;
    }

.navbar-brand {
    font-size: 50px;
    font-family: 'Mate SC', serif;
    
}

.navbar-nav {
    font-size: 25px;
    font-family: 'Mate SC', serif;
}
